  <div class="index">

  <div class="image">
    <div>{{Image.name}}</div>
    <img src="{{Image.url}}" alt="{{Image.name}}"/>
    <div>{{Image.description}}</div> 
  </div>
  <div class="montherBoard">
    <h2>{{month}}</h2>

  </div>
  
  </div>

