  <div class="index">
    <h2>{{month}}</h2>
  <div class="CalendarImg">
    <div>{{Image.name}}</div>
    <img class="CalendarImg" src="{{Image.url}}" alt="{{Image.name}}" />
    <div>{{Image.description}}</div> 
  </div>
  <div class="CalendarBoard">
      {{> calendarBoard}}
  </div>
  {{!-- style="width: 200px; height: 300px;" --}}
  </div>

